<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SupplyWatch Selenium Suite" verbose="1">
    <test name="Landing Page UI Tests">
        <classes>
            <class name="com.supplywatch.selenium.PageLoadTest"/>
            <class name="com.supplywatch.selenium.WaitlistFormTest"/>
        </classes>
    </test>
</suite>
