<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SupplyWatchApiSuite" verbose="1">
    <test name="SupplyWatchApiTests">
        <classes>
            <class name="com.supplywatch.apitests.HealthApiTest"/>
            <class name="com.supplywatch.apitests.ApiKeyApiTest"/>
            <class name="com.supplywatch.apitests.MaterialsApiTest"/>
            <class name="com.supplywatch.apitests.AlertsApiTest"/>
        </classes>
    </test>
</suite>
